{
	"plugins": [
		"prettier-plugin-svelte"
	],
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"printWidth": 120,
	"bracketSpacing": true,
	"arrowParens": "always",
	"svelteBracketNewLine": false,
	"objectCurlySpacing": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
