@import 'tailwindcss' layer(base);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')
layer(base);
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  :root {
    --background: 270 10% 100%; /* #FFFFFF */
    --foreground: 270 0% 10%;
    --card: 285 14% 95%; /* #F2EFF3 */
    --card-foreground: 270 0% 10%;
    --popover: 270 0% 98%;
    --popover-foreground: 270 0% 10%;
    --primary: 265 100% 55%;
    --primary-foreground: 270 5% 100%;
    --secondary: 29 0% 30%;
    --secondary-foreground: 270 0% 90%;
    --muted: 270 20% 98%;
    --muted-foreground: 270 0% 40%;
    --accent: 265 100% 55%;
    --accent-foreground: 270 0% 100%;
    --destructive: 0 75% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 270 10% 90%;
    --input: 270 0% 85%;
    --ring: 265 100% 55%;
    --radius: 0.425rem;
  }

  .dark {
    --background: 270 0% 10%;
    --foreground: 270 0% 90%;
    --card: 270 0% 15%;
    --card-foreground: 270 0% 90%;
    --popover: 270 0% 8%;
    --popover-foreground: 270 0% 90%;
    --primary: 265 100% 55%;
    --primary-foreground: 270 0% 100%;
    --secondary: 265 0% 0%;
    --secondary-foreground: 270 0% 40%;
    --muted: 270 0% 15%;
    --muted-foreground: 270 0% 70%;
    --accent: 265 100% 55%;
    --accent-foreground: 270 0% 90%;
    --destructive: 0 95% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 270 0% 60%;
    --input: 270 0% 20%;
    --ring: 265 100% 55%;
    --radius: 0.425rem;
  }

  * {
    border-color: hsl(var(--border));
  }
}
